NODE_ENV=development
PORT=3000
API_PORT=3001
DATABASE_URL="mysql://teo:teo_secret@localhost:3307/teo_db"
JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars_long
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars_long
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
COOKIE_SECURE=false
CORS_ORIGINS=http://localhost:4200
